.title {
  color: black;
}

.container {
  margin-top: 0.8rem;
  background-color: #fff;
  border-bottom: 2px solid #cfe3f5;
  border-radius: 4px;
  padding: 1.6rem;
}

.isDragging {
  box-shadow: 0 5px 20px #cfe3f5, 0 3px 6px #cfe3f5;
}

.notDragging {
  box-shadow: none;
}

.people__list {
  display: inline-flex;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  list-style: none;
}

.people__list__item {
  margin-right: 5px;

  &::after {
    content: '|';
    margin-left: 5px;
    font-weight: bold;
    color: lightgrey;
  }

  &:last-child::after {
    content: none;
  }
}
