.title {
  color: black;
}

.container {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: white;
}

.isDragging {
  background-color: pink;
}

.notDragging {
  background-color: white;
}
