.title {
  padding: 16px 8px 8px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  border-bottom: 2px solid #f0f2f5;
}

.container {
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.tasklist {
  padding: 8px;
  transition: background-color 0.2s ease;
  flex-grow: 1;
  min-height: 100vh;
}

.isDraggingOver {
  background-color: skyblue;
}

.notDraggingOver {
  background-color: white;
}
