.title {
  display: flex;
  padding: 1.1rem 0.8rem;
  background-color: #fff;
  border-bottom: 2px solid #d7e8f7;
  margin: 0;
}

.container {
  flex-direction: column;
  display: flex;
  flex: 1;
  min-width: 20rem;
  overflow: hidden;
  background-color: rgba(207, 227, 245, 0.12);
  border: 1px solid #d7e8f7;
  overflow: auto;
}

.tasklist {
  padding: 0 8px 8px 8px;
  transition: background-color 0.2s ease;
  flex-grow: 1;
  background-color: #f4f8fe;
}

.columnContainer {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
