#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.ant-layout-content {
  height: 100%;
}

.ant-layout-content > div:first-child {
  height: 100%;
  padding: 2%;
}

.ant-row {
  height: 100%;
}

.ant-col {
  border: 1px solid #f0f0f0;
  text-align: center;
}

.column-heading {
  border-bottom: 2px solid #f0f0f0;
  padding: 10px;
}

.co-ord-card {
  margin: 10px;
  border-radius: 10px;
}

.ant-layout-sider-children {
  background: #001529;
}
